/*****************************************************************************************************
    Balise HTML
*****************************************************************************************************/

*{
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

video{
    width: 100%;
}

li{
    list-style-type: none;
}

h3:hover{

}

a:hover {
    color: #ffeb3b;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*****************************************************************************************************
    Classes
*****************************************************************************************************/

.logo {
    height: 44px;
    width: 100px;
    margin: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.logoBg {
    height: 250px;
    width: 250px;
    margin: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}

@media (pointer: coarse) and (hover: none) {
    #main {
        background: url('../img/background.jpg') black no-repeat center center scroll;
    }
    #main video {
        display: none;
    }
}

.bigFont{
    font-family: 'Squada One', cursive !important;
    font-variant: small-caps;
    margin: auto;
    font-size: 30pt;
    color: #3f51b5;
}

.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #3f51b5;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3f51b5;
    }
}

html,
body,
header,
.view {
    height: 91%;
}

.form-connexion{
    width: 50%;
    margin: auto;
    width: 800px;
    padding-top: 100px;
}

.login{
    width: 700px;
    margin: auto;
    margin-top: 100px;
}


#main {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#main video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#main .container {
    position: relative;
    z-index: 2;
}

#main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* Classe test */

@media screen and (max-width: 1100px){
    .form-connexion{
        width: 900px;
    }
}

@media screen and (max-width: 800px){
    .form-connexion{
        width: 700px;
    }
}

@media screen and (max-width: 500px){
    .form-connexion{
        width: 350px;
    }
}

